[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "*"
django-ckeditor = "*"
django = "*"
django-environs = "*"
environs = "*"
psycopg2-binary = "*"
whitenoise = "*"
gunicorn = "*"
Pillow="*"
[dev-packages]

[requires]
python_version = "3.10"
