
{% extends 'base.html' %}
{% load static %}


<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


{% block content %}
<br>
{% for post in page_obj %}
<br>
<div class="card" style="width: 60rem; margin: 20px auto;" >
  <div class="card-body"  style=" background-color: #eeece8;">
    {% if post.photo %}
    <img class="card-img-top" src="{{ post.photo.url }}" alt="{{ post.title }}">
    <br><br>
    {% endif %}
    <h5 class="card-title"><a href="{% url 'post_detail' post.pk  %}" style="text-decoration: none;">{{ post.title }}</a></h5>
    <p class="card-text">{{ post.text | slice:'100' | safe }}...</p>
  </div>
  <div class="card-footer text-left text-muted">
    <span class="text-muted">Author: {{ superuser.username }} | {{ post.add_time }} </span>
  </div>
</div>
{% endfor%}
<br><br>


<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item active">
            <a href="#" class="page-link">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last&raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}



