{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<style>

  .card{
     width: 1200px;
     margin: 15px auto;
     padding: 15px;
  }


  .container{
    width: 1200px;
    margin: 15px auto;
    padding: 35px;

  }

  .add_coment{
    text-align: end;
    margin-bottom: 20px;
}


   .containerr {
    width: 1000px;
    height: 650px;
    margin: 5px auto;
  }

    h1{
        text-align: center;
        padding-bottom: 5px;
    }



</style>


<div class="card mb-5" style="margin: 30px auto;">
          <div class="card-body">
              {%  if blog.photo %}
                <img class="card-img-top" src="{{ blog.photo.url }}" alt="{{ blog.title }}"><br><br>
              {% endif %}
              <h1 class="card-title">{{ blog.title }}</h1><br>
              <h6 class="card-subtitle mb-2 text-muted">Author: {{ superuser.username }} | {{ blog.add_time }}</h6>
              <hr>
              <p class="card-text">{{ blog.text | safe }}</p><br>

        {% if request.user.is_superuser %}
        <button type="button" class="btn btn-primary" style="margin-right: 5px;"><a href="{% url 'post_edit' blog.id %}" style="text-decoration: none; color: white;">Edit</a></button>
      <button type="button" class="btn btn-danger"><a href="{% url 'post_delete' blog.id %}" style="text-decoration: none; color: white;">Delete</a></button>
      <br><br>
        {% endif %}

    <h6><a href="{% url 'home' %}"style="text-decoration: none;">All posts</a></h6>
</div>
</div>
<br><br>
<br><br>



{% if blog.comment_set.all.exists %}
    <h3>Reviews</h3>
    <hr>
   {% for review in blog.comment_set.all %}

        <div class="row mt-5 mb-5">
            <div class="col-6">
                <strong>{{ review.subscriber.username | safe }} - {{ review.created_on }}</strong>
                <p>{{ review.body | safe}}</p>
            </div>
        </div>

  {% endfor %}

{% endif %}

{% if request.user.is_authenticated %}

<div class="row mt-5">
    <div class="col-6">
            <h1 class="add_coment">Leave a comment</h1>
            <form action="{% url 'reviews' blog.id %}" method="post">
                  {% csrf_token %}
                  {{ comment_form.media }}
                  {{ comment_form | crispy }}

                <button type="submit" class="btn btn-success">Add review</button>
            </form>
    </div>
</div>


{% else %}
<div class="row mt-5">
    <div class="col-6">
            <h1 class="add_coment">Leave a comment</h1>
            <form method="post">
                  {% csrf_token %}
                  {{ comment_form.media }}
                  {{ comment_form | crispy }}

                <a href="{% url 'members:register' %}" class="btn btn-success" role="button">Add review</a>
            </form>
    </div>
</div>

{% endif %}
{% endblock content %}
